*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
/* ul navbar */
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
/* ul li navbar */
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
/* hover */
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Welcome Section */

#Welcome {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
     color: white;
} 

#Welcome .main img{
    box-shadow: 0 0 50px black;
}
.Main-body{
    background-image: url(../Images/nukacola.jpg);
    background-size:cover;
} 
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
    list-style: none;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white; 
    font-weight: bold;
}

/* About Section*/
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 475px;
    height: 300px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.about-chad{
    max-width: 500px;
}

/* Projects Section */

#projects{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    align-items: center;
    padding: 20px;
}
#projects .gallery img:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 70px black;
}

.trollface-bruh{
    box-shadow: 0 0 100px black;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Social Media Section */
.main-footer{
    margin: 20px;
    padding: 0;
    text-align: center;
}

.main-footer .footer-nav{
    text-align: center;
}

.main-footer .footer-nav li{
    display: inline;
}
    
.Trollface{
    position: absolute;
    right: 130%;
    filter: grayscale(100%);    
}

/* Projects Tab */
.project-tab{
    background-image: url(../Images/nukacola.jpg);
    background-size:cover;
}



    